<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="a.tlib">
    <!--    允许应用程序联网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--    允许读写系统设置项-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--    允许访问WiFi网络状态信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--    允许改变网络连接状态-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--    允许改变WiFi网络连接状态-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--    允许应用程序访问TASK-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--    允许访问网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--    把应用切换到前台的权限-->
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <!--适配安卓10分区问题,解决IM        android:requestLegacyExternalStorage="true"-->
    <application
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
        
        <!--       usesCleartextTraffic glide加载https图片-->
        <!--        沉浸状态栏适配-->
        <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" /> <!-- 全面屏适配 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <!--        autosize适配-->
        <meta-data
            android:name="design_width_in_dp"
            android:value="1080" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="1920" />
        <!--        glide加载https图片-->
        <meta-data
            android:name="a.tlib.utils.glide.OkHttpGlideModule"
            android:value="AppGlideModule" />
    </application>
  
</manifest>